    <!-- header
    ================================================== -->
    <header class="s-header header">

        <div class="header__logo">
            <a class="logo" href="index.html">
                <img src="../../assets/images/logo.svg" alt="Homepage">
            </a>
        </div> <!-- end header__logo -->


        <a class="header__toggle-menu" (click)="mobileMenu()" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">Navigate to</h2>

            <ul class="header__nav">
                <li class="current"><a href="index.html" title="">Home</a></li>
                <li class="has-children">
                    <a href="#0" title="">Categories</a>
                    <ul class="sub-menu">
                        <li><a [routerLink]="['/Categories', 'Lifestyle']">Lifestyle</a></li>
                        <li><a [routerLink]="['/Categories', 'Technology']">Technology</a></li>
                        <li><a [routerLink]="['/Categories', 'Family']">Family</a></li>
                        <li><a [routerLink]="['/Categories', 'Travel']">Travel</a></li>
                    </ul>
                </li>
                <li><a title="" routerLink="/about-us"> About</a></li>
                <li><a routerLink="/contact-us" title="">Contact</a></li>
            </ul> <!-- end header__nav -->

            <a title="Close Menu" class="header__overlay-close close-mobile-menu mobileMenuClose" (click)="mobileMenuClose()">Close</a>

        </nav> <!-- end header__nav-wrap -->

    </header> <!-- s-header -->